.navbar{
    height: 50px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    cursor: pointer;
    position: relative;
}

.iconImg{
    height: 20px;
    width: 20px;
}

.counter{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}